<% @thumbnails.each.with_index(1) do |thumbnail_url, index| %>
  <% if index == 2 %>
    <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
  <% else %>
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <%= image_tag(thumbnail_url, class: "w-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2") %>
    </div>
  <% end %>
<% end %>
