<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 
      <%= link_to 'Yain Porter', "https://yainporter.com/", class: "hover:underline", data: { turbo_method: :get} %>. All rights reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
        <%= link_to 'Vision Vault', 'https://visionvault.yainporter.com/', class: 'hover:underline me-4 md:me-6' %>
      </li>
      <li>
        <%= link_to 'Lashes by Jenni', 'https://lashesbyjenni.yainporter.com/', class: 'hover:underline me-4 md:me-6' %>
      </li>
      <li>
        <%= link_to 'Turing Planner', 'https://turingplanner.yainporter.com/', class: 'hover:underline' %>
      </li>
    </ul>
  </div>
</footer>
